@font-face {
    font-family: "Roboto-regular";
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-thin";
    src: url(Roboto/Roboto-Thin.ttf);
}

body {
    background-color: #ede9fe;
}

p {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: "Roboto-regular", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 975px;
    width: 1400px;
}

.sidebar {
    background-color: #7c3aed;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3rem 2rem auto;
    padding: 20px;
    color: #f5f3ff;
}

.header {
    background-color: #4c1d95;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 60% 10% 30%;
    color: #f5f3ff;
    padding: 10px 50px 10px 50px;
    box-shadow: 0px 4px 5px -1px #ae90db;
}

.main-content {
    display: grid;
    gap: 30px;
    padding: 40px 30px 40px 30px;
    color: #2e1065;
    grid-template-columns: 736px auto;
}

.logo {
    grid-row: 1 / 2;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 3.5rem auto;
    align-items: center;
}

.navigation {
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 210px 35px 105px;
}

.search {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
    justify-content: start;
}

.username {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.greeting {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.profile-picture-2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.buttons {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    justify-content: end;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-rows: 28.5px auto;
    gap: 20px;
}

.card {
    width: 350px;
    height: 200px;
    background-color: white;
    padding: 30px 28px 30px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border-left: solid 8px #4c1d95;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    box-shadow: 4px 4px 5px -1px #ae90db;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-auto-rows: 200px;
    overflow: auto;
    gap: 30px;
}

.sideimage {
    width: 20px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(2528%) hue-rotate(107deg) brightness(109%) contrast(110%);
}

.sideitem {
    display: grid;
    grid-template-columns: 35px 70%;
    height: 35px;
}

.sidepartone {
    grid-row: 1 / 2;
}

.sideparttwo {
    grid-row: 3 / 4;
}

.logoimage {
    width: 3rem;
    height: auto;
}

.magnifyingglass {
    height: 20px;
    width: auto;
    filter: invert(88%) sepia(21%) saturate(119%) hue-rotate(205deg) brightness(102%) contrast(105%);
    display: grid;
    justify-self: center;
    align-items: center;
}

input[type="search"] {
    width: 400px;
    border-radius: 50px;
    border: 0px;
    height: 23px;
    background-color: #ddd6fe;
}

.bell {
    height: 20px;
    width: auto;
    filter: invert(88%) sepia(21%) saturate(119%) hue-rotate(205deg) brightness(102%) contrast(105%);
    display: grid;
    justify-content: center;
    align-items: center;
}

.upic {
    width: 3rem;
    height: auto;
}

.gpic {
    width: 4rem;
    height: auto;
    grid-column: 1 / 2;
}

.greeting-text {
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
    align-items: center;
}

.hi-there {
    font-size: .8rem;
    margin: 2px;
}

input[type="button"] {
    width: 85px;
    height: 35px;
    border-radius: 50px;
    border: 0px;
    background-color: #2e1065;
    color: #f5f3ff;
}

h3 {
    margin: 2px;
    font-size: 1rem;
    color: #2e1065;
}

.card-text {
    font-size: .85rem;
    font-weight: lighter;
    color: #9478c7;
    margin: 2px;
}

h2 {
    margin: 0px;
}

.card-icon {
    height: 20px;
    width: auto;
    filter: invert(9%) sepia(93%) saturate(3528%) hue-rotate(259deg) brightness(77%) contrast(102%);
}

.card-icons {
    display: grid;
    grid-template-columns: 20px 20px 20px;
    gap: 20px;
    justify-content: flex-end;
}

.main-right-side {
    display: grid;
    grid-template-rows: 50% 50%;
}

h5 {
    margin: 2px;
}

.main-right-side > div > div > div > p {
    font-size: .75rem;
    font-weight: lighter;
    color: #9478c7;
    margin: 2px;
}

.main-right-side > div > div > div > div > p {
    font-size: .75rem;
    margin: 2px;
}

.announcements {
    display: grid;
    grid-template-rows: 28.5px auto;
    gap: 20px;
}

.trending {
    display: grid;
    grid-template-rows: 28.5px auto;
    gap: 20px;
}

.announcement-text,
.trending-users {
    background-color: white;
    padding: 30px 28px 30px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 4px 4px 5px -1px #ae90db;
    height: 294px;
}

.announcement-text {
    display: grid;
    grid-template-rows: 28% 28% 28%;
    gap: 15px;
}

.ann-1 {
    border-bottom: 1px solid #9478c7;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.ann-2 {
    border-bottom: 1px solid #9478c7;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.name {
    font-size: 1.25rem;
    margin: 2px;
}

.user-image {
    height: 3rem;
    width: auto;
}

.trending-user {
    display: grid;
    grid-template-columns: 3rem auto;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.trending-users {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 14px;
}

.trending-username {
    font-weight: bolder;
    color: #4c1d95;
}

.byline {
    font-weight: lighter;
    color: #9478c7;
}

